@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
.missions {
  background-color: #A22B91;
}
.missions:hover {
  background-color: #801c71;
}

.events {
  background-color: #1a0241;
}
.events:hover {
  background-color: #230457;
}

.missions, .events {
  transition: background-color 0.5s ease-in-out;
}

.button a {
  text-decoration: none;
  white-space: nowrap;
  color: #FFFFFF;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.3em;
  height: 100px;
}

.image-container {
  display: flex;
  align-items: center;
  width: 60%;
}
.image-container a {
  width: 100%;
}
.image-container a img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.navigator {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigator #menuContainer {
  position: absolute;
  top: 0;
  left: -100%;
  transition: 1s all;
  height: 100vh;
  z-index: 100;
}
.navigator #menuContainer li {
  list-style: none;
}

.showMenu {
  width: 100%;
  height: 100vh;
  background-color: #A22B91;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 100px;
}
.showMenu li {
  width: 100%;
  position: relative;
  bottom: 10%;
  padding: 2rem;
  transition: 1s all ease-out;
}
.showMenu li:hover {
  background-color: #79206b;
}

#open_menu img {
  width: 30px;
  cursor: pointer;
}

#close_menu {
  display: none;
}

.showCloseMenu {
  display: block;
  position: absolute;
  z-index: 200;
  top: 2%;
  right: 6%;
}

.showCloseMenu img {
  width: 30px;
  height: auto;
  cursor: pointer;
  transition: all 1s;
}

#menuContainer li a {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  position: relative;
  font-size: 1rem;
}
#menuContainer li a:hover {
  color: #d4d3d3;
}
#menuContainer li a::after {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
  height: 2px;
  width: 0px;
  left: 0;
  top: 25px;
  transition: 0.5s all;
}
#menuContainer li a:hover::after {
  display: inline-block;
  width: 80%;
  transform: translateX(10%);
}

.space-humans-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.space-humans-container .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.title-and-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  text-align: center;
}
.title-and-text p {
  color: #FFFFFF;
  margin-top: 1rem;
  line-height: 1.5;
}
.title-and-text .title {
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
}

.astronaut-container {
  margin-top: 1rem;
  animation-name: movingAstronaut;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.astronaut-container img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.buttons-container .button {
  width: 100%;
  max-width: 200px;
  padding: 1.2em 0px;
  display: inline-block;
  text-transform: uppercase;
  border: none;
  text-align: center;
  font-size: 0.8rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  cursor: pointer;
}

/*Animaciones*/
@keyframes movingAstronaut {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
.missions-container {
  width: 100%;
  margin-top: 2rem;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 50px 850px;
  position: relative;
  overflow: hidden;
  /*Hacemos que cada elemento gallery sea absoluto, para que pierda su posición en el flujo
  de renderizado y se oculte con el overflow:hidden del galeries-slider,
  además se le cambia el position flex, por el grid, para que actúe como una
  sub-grid.*/
}
.missions-container .title {
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  grid-row: 1/1;
  grid-column: 1/13;
}
.missions-container .title-slider {
  grid-row: 2/2;
  grid-column: 1/13;
  width: 100%;
}
.missions-container .title-slider ul {
  display: flex;
  color: #FFFFFF;
  text-transform: uppercase;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 0.6rem;
  font-weight: 200;
  margin-top: 1rem;
}
.missions-container .title-slider .slider-navigator li {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.missions-container .title-slider .slider-navigator li:hover:nth-child(1n) {
  color: #EF3194;
}
.missions-container .gallery {
  grid-row: 3/3;
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 200px);
  padding: 1em;
  width: 100%;
  position: absolute;
  overflow: hidden;
  transition: 1s all;
  transform: translateX(-100%);
  gap: 15px;
  /*Le ponemos un hidden al elemento del gallery item,
  para que luego no se desborde la imagen y no aparezca un scroll tanto horizontal
  como verticalmente*/
}
.missions-container .gallery .gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  transition: 1s all;
  overflow: hidden;
  /*Le agregamos un position relative a la imagen para que después con los
  elementos ::before le podamos dar un absolute y no tome como elemento padre al body*/
  /*Accedemos al hover del contenedor de la imagen
  y al tag img, para darle las propiedades de crecimiento*/
}
.missions-container .gallery .gallery-item:nth-of-type(1) {
  grid-row: 1/1;
  grid-column: 1/13;
}
.missions-container .gallery .gallery-item:nth-of-type(2) {
  grid-row: 2/2;
  grid-column: 1/13;
}
.missions-container .gallery .gallery-item:nth-of-type(3) {
  grid-row: 4/4;
  grid-column: 1/13;
}
.missions-container .gallery .gallery-item:nth-of-type(4) {
  grid-row: 3/3;
  grid-column: 1/13;
}
.missions-container .gallery .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
  position: relative;
  overflow: hidden;
  /*Le agregamos una transicion a la imagen para que cuando le saquemos el hover de encima,
  vuelva a su tamaño original con un delay*/
  transition: transform 1s ease-out;
}
.missions-container .gallery .gallery-item:hover {
  /*Cuando hay un evento hover en el elemento del gallery item,
  el elemento del card-body se va a mostrar con cierta opacidad*/
}
.missions-container .gallery .gallery-item:hover img {
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}
.missions-container .gallery .gallery-item:hover .card-body {
  opacity: 1;
}
.missions-container .gallery-active {
  transform: translateX(0px);
}

/*Le agregamos un background negro a la imagen, pero lo hacemos invisible*/
.gallery-item {
  /*Hacemos aparecer el background negro*/
  /*Le damos estilos al cuerpo de la card y lo hacemos invisible*/
}
.gallery-item:hover::before {
  opacity: 0.7;
}
.gallery-item::before {
  content: "";
  background-color: #000000;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  opacity: 0;
  transition: 1s all ease-out;
}
.gallery-item .card-body {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: flex-end;
  z-index: 200;
  transition: 1s all ease-in-out;
  color: #FFFFFF;
  cursor: pointer;
  padding: 0.5em;
}
.gallery-item .card-body h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: center;
}
.gallery-item .card-body p {
  margin-top: 0.3rem;
  text-align: center;
  font-size: 0.9rem;
}

.events-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: #FFFFFF;
}
.events-container .title {
  text-transform: uppercase;
  margin-bottom: 1em;
}
.events-container .cards {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  max-width: 350px;
}
.events-container .cards .cards-item {
  width: 100%;
  margin-top: 0.5em;
  height: 330px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  background-color: #21054D;
}
.events-container .cards .cards-item .events-cards-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
.events-container .cards .cards-item .date-card {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0.5em;
}
.events-container .cards .cards-item .date-card strong {
  font-size: 3.5em;
}
.events-container .cards .cards-item .date-card p {
  text-transform: uppercase;
  position: relative;
  bottom: 0.8em;
}
.events-container .cards .cards-item .event-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0.7em;
}
.events-container .cards .cards-item .event-info p {
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 0.5em;
}

.launchs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 0.65rem;
  text-align: center;
  margin-top: 2.5em;
}
.launchs-container h2 {
  margin-top: 1em;
}
.launchs-container .starship-container {
  display: none;
}
.launchs-container .starship-container img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.launchs-container .counters {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.launchs-container .counters .counter-item {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2em;
}
.launchs-container .counters .counter-item strong {
  font-size: 3rem;
}
.launchs-container .counters .counter-item p {
  font-size: 1.7rem;
}

.footer-container {
  background-image: url("../images/Svg/Colinas-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  margin-top: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container .footer-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 7em;
}
.footer-container .planet-container {
  display: none;
}
.footer-container .planet-container img {
  width: 100%;
  max-width: 5, 625em;
  height: auto;
  object-fit: cover;
}
.footer-container .suscribe-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}
.footer-container .suscribe-container #suscribe-input {
  width: 12.5rem;
  padding-bottom: 1.5em;
  border: none;
}
.footer-container .suscribe-container .suscribe-btn {
  background-color: #A22B91;
  border: none;
  cursor: pointer;
  width: 100px;
}
.footer-container .suscribe-container .suscribe-btn a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.footer-container .social-media {
  display: flex;
  flex-direction: row;
  height: auto;
  gap: 0.5em;
  margin-bottom: 1em;
}
.footer-container .social-media img {
  width: 40px;
  margin-left: 1em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-image: url("../images/Svg/large-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Space Mono", monospace;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100vh;
}

/*Media queries*/

/*# sourceMappingURL=styles.css.map */
