.events-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: $primary-text-color;
    .title{
        text-transform: uppercase;
        margin-bottom: 1em;
    }
    .cards{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1em;
        max-width: 350px;
        .cards-item{
            width: 100%;
            margin-top: .5em;
            height: 330px;
            max-height: 400px;
            display: flex;
            justify-content: center;
            background-color: $card-item-bg-color;
            .events-cards-body{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 90%;
            }
            .date-card{
                align-self: flex-start;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                left: .5em;
                strong{
                    font-size: 3.5em;
                }
                p{
                    text-transform: uppercase;
                    position: relative;
                    bottom: .8em;
                }
            }
            .event-info{
                width: 80%;
                display: flex;
                flex-direction: column;
                position: relative;
                left: .7em;
                p{
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    margin-bottom: .5em;
                }
            }
        }
    }
}