.missions-container{
    width: 100%;
    margin-top: 2rem;
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 50px 850px;
    position: relative;
    overflow: hidden;
    .title{
        text-align: center;
        color: $primary-text-color;
        text-transform: uppercase;
        grid-row: 1/1;
        grid-column: 1/13;
    }

    .title-slider{
        grid-row: 2/2;
        grid-column: 1/13;
        width: 100%;
        ul{
            display: flex;
            color: $primary-text-color;
            text-transform: uppercase;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            font-size: .6rem;
            font-weight: 200;
            margin-top: 1rem;
        }
        .slider-navigator{
            li{
                cursor: pointer;
                transition: color .3s ease-in-out;
                &:hover:nth-child(1n){
                    color: $slider-color-li-item;
                }
            }
        }
    }
        /*Hacemos que cada elemento gallery sea absoluto, para que pierda su posición en el flujo
        de renderizado y se oculte con el overflow:hidden del galeries-slider,
        además se le cambia el position flex, por el grid, para que actúe como una
        sub-grid.*/
        .gallery{
            grid-row: 3/3;
            grid-column: 1/13;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(4, 200px);
            padding: 1em;
            width: 100%;
            position: absolute;
            overflow: hidden;
            transition: 1s all;
            transform: translateX(-100%);
            gap: 15px;
            /*Le ponemos un hidden al elemento del gallery item,
            para que luego no se desborde la imagen y no aparezca un scroll tanto horizontal
            como verticalmente*/
            .gallery-item{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                position: relative;
                transition: 1s all;
                overflow: hidden;
                &:nth-of-type(1){
                    grid-row: 1/1;
                    grid-column: 1/13;
                }
                &:nth-of-type(2){
                    grid-row: 2/2;
                    grid-column: 1/13;
                }
                &:nth-of-type(3){
                    grid-row: 4/4;
                    grid-column: 1/13;
                }
                &:nth-of-type(4){
                    grid-row: 3/3;
                    grid-column: 1/13;
                }
                /*Le agregamos un position relative a la imagen para que después con los
                elementos ::before le podamos dar un absolute y no tome como elemento padre al body*/
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: inline-block;
                    position: relative;
                    overflow: hidden;
                    /*Le agregamos una transicion a la imagen para que cuando le saquemos el hover de encima,
                    vuelva a su tamaño original con un delay*/
                    transition: transform 1s ease-out;
                }
                /*Accedemos al hover del contenedor de la imagen
                y al tag img, para darle las propiedades de crecimiento*/
                &:hover{
                    img{
                        transform: scale(1.2);
                        transition: transform 1s ease-in-out;
                    }
                    /*Cuando hay un evento hover en el elemento del gallery item,
                    el elemento del card-body se va a mostrar con cierta opacidad*/
                    .card-body{
                        opacity: 1;
                    }
                }
            }
        }

        .gallery-active{
            transform: translateX(0px);
        }
}

/*Le agregamos un background negro a la imagen, pero lo hacemos invisible*/
.gallery-item{
    /*Hacemos aparecer el background negro*/
    &:hover::before{
        opacity: .7;
    }
    &::before{
        content: '';
        background-color: $gallery-item-bg-color;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 100;
        opacity: 0;
        transition: 1s all ease-out;
    }
    /*Le damos estilos al cuerpo de la card y lo hacemos invisible*/
    .card-body{
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-self: flex-end;
        z-index: 200;
        transition: 1s all ease-in-out;
        color: $primary-text-color;
        cursor: pointer;
        padding: .5em;
        h2{
            font-size: .8rem;
            text-transform: uppercase;
            text-align: center;
        }
        p{
            margin-top: .3rem;
            text-align: center;
            font-size: .9rem;
        }
    }
}