.space-humans-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .5em;
    }
}

.title-and-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    text-align: center;
    p{
        color: $primary-text-color;
        margin-top: 1rem;
        line-height: 1.5;
    }
    .title{
        color: $primary-text-color;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5rem;
    }
}

.astronaut-container{
    margin-top: 1rem;
    img{
        width: 100%;
        max-width: 300px;
        height: auto;
    }
    animation-name: movingAstronaut;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.buttons-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    .button{
        width: 100%;
        max-width: 200px;
        padding: 1.2em 0px;
        display: inline-block;
        text-transform: uppercase;
        border: none;
        text-align: center;
        font-size: .8rem;
        margin-left: .6rem;
        margin-right: .6rem;
        cursor: pointer;
    }
}

/*Animaciones*/

@keyframes movingAstronaut {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}