@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$background-image: url('../images/Svg/large-background.svg');
$background-footer-mobile: url('../images/Svg/Colinas-footer.svg');
$background-footer-desktop: url('../images/Svg/pattern-hills.svg');
$missions-btn-bg-color: #A22B91;
$missions-btn-bg-color-hover: #801c71;
$events-btn-bg-color: #0F0224;
$events-btn-bg-color-hover: #1f034b;
$bg-menu-color: #A22B91;
$bg-li-items-color: #79206b;
$slider-color-li-item: #EF3194;
$gallery-item-bg-color: #000000;
$card-item-bg-color: #21054D;
$primary-text-color: #FFFFFF;
$li-item-color-effect: #FFFFFF;
$li-item-color-hover: #d4d3d3;