@import "../sass/variables";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-image: $background-image;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Space Mono', monospace;
    scroll-behavior: smooth;
}

.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.3em;
}

.image-container{
    display: flex;
    align-items: center;
    width: 60%;
}

.image-container a img{
    width: 100%;
    max-width: 250px;
    height: auto;
}

.image-container a{
    width: 100%;
}

.navigator{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigator #menuContainer li{
    list-style: none;
}

#menuContainer{
    position: absolute;
    top: 0;
    left: 100%;
    transition: 1s all;
    height: 100vh;
}

.showMenu{
    width: 100%;
    height: 100vh;
    background-color: $bg-menu-color;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 100px;
}

.showMenu li{
    width: 100%;
    position: relative;
    bottom: 10%;
    padding: 2rem;
    transition: 1s all ease-out;
}

.showMenu li:hover{
    background-color: $bg-li-items-color;
}

#open_menu img{
    width: 30px;
    cursor: pointer;
}

#close_menu{
    display: none;
}

.showCloseMenu{
    display: block;
    position: absolute;
    z-index: 2;
    top: 2%;
    right: 6%;
}

.showCloseMenu img{
    width: 30px;
    height: auto;
    cursor: pointer;
    transition: all 1s;
}

#menuContainer li a{
    text-decoration: none;
    color: $primary-text-color;
    text-transform: uppercase;
    position: relative;
    font-size: 1rem;
}

.space-humans-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.space-humans-container .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5em;
}

.title-and-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    text-align: center;
}

.title-and-text p{
    color: $primary-text-color;
    margin-top: 1rem;
    line-height: 1.5;
}

.title-and-text .title{
    color: $primary-text-color;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
}

.astronaut-container{
    margin-top: 1rem;
}

.astronaut-container img{
    width: 100%;
    max-width: 300px;
    height: auto;
}

.buttons-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.buttons-container .button{
    width: 100%;
    max-width: 200px;
    padding: 1.2em 0px;
    display: inline-block;
    text-transform: uppercase;
    border: none;
    text-align: center;
    font-size: .8rem;
    margin-left: .6rem;
    margin-right: .6rem;
    cursor: pointer;
}

.missions{
    background-color: $missions-btn-bg-color;
}

.events{
    background-color: $events-btn-bg-color;
}

.missions, .events{
    transition: background-color .5s ease-in-out;
}

.missions:hover{
    background-color: $missions-btn-bg-color-hover;
}

.events:hover{
    background-color: $events-btn-bg-color-hover;
}

.button a{
    text-decoration: none;
    white-space: nowrap;
    color: $primary-text-color;
}

#menuContainer a::after{
    content: "";
    position: absolute;
    background-color: $li-item-color-effect;
    height: 2px;
    width: 0px;
    left: 0;
    top: 25px;
    transition: .5s all;
}

#menuContainer a:hover::after{
    display: inline-block;
    width: 80%;
    transform: translateX(10%);
}

#menuContainer li a:hover{
    color: $li-item-color-hover;
}

/*.buttons-container a:first-child{
    background-color: #A22B91;
}

.buttons-container a{
    background-color: #0F0224;
}

.buttons-container a:first-child:hover{
    background-color: #8d257d;
}

.buttons-container a:hover{
    background-color: #1d0544;
}*/

.missions-container{
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Necesitamos este contenedor de galerias, para poder usar el overflow:hidden
y se oculten los elementos gallery que sobrepasen los 1200px del min-height*/
.galeries-slider{
    width: 100%;
    min-height: 1200px;
    position: relative;
    margin-top: 1rem;
    overflow: hidden;
}

/*Hacemos que cada elemento gallery sea absoluto, para que pierda su posición en el flujo
de renderizado y se oculte con el overflow:hidden del galeries-slider*/
.gallery{
    position: absolute;
    width: 100%;
    height: 100%;
}

.gallery{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    padding: 10px;
    gap: 20px;
    overflow: hidden;
    transition: 1s all;
}

.missions-container .title{
    text-align: center;
    color: $primary-text-color;
    text-transform: uppercase;
}

.title-slider{
    width: 100%;
}

.title-slider ul{
    display: flex;
    color: $primary-text-color;
    text-transform: uppercase;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: .7rem;
    font-weight: 200;
    margin-top: 1rem;
}

/*Le ponemos un hidden al elemento del gallery item,
para que luego no se desborde la imagen y no aparezca un scroll tanto horizontal
como verticalmente*/
.gallery-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    transition: 1s all;
    overflow: hidden;
}


/*Le agregamos un position relative a la imagen para que después con los
elementos ::before le podamos dar un absolute y no tome como elemento padre al body*/
.gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    position: relative;
}

/*Le damos estilos al cuerpo de la card y lo hacemos invisible*/
.card-body{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: flex-end;
    z-index: 200;
    transition: 1s all ease-in-out;
    color: $primary-text-color;
    cursor: pointer;
    padding: .5em;
}

.card-body h2{
    font-size: .8rem;
    text-transform: uppercase;
    text-align: center;
}

.card-body p{
    margin-top: .3rem;
    text-align: center;
    font-size: .9rem;
}

.slider-navigator li{
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.slider-navigator li:hover:nth-child(1n){
    color: $slider-color-li-item;
}

/*Cuando hay un evento hover en el elemento del gallery item,
elemento del card-body se va a mostrar con cierta opacidad*/
.gallery-item:hover .card-body{
    opacity: 1;
}

/*Le agregamos un background negro a la imagen, pero lo hacemos invisible*/
.gallery-item::before{
    content: '';
    background-color: $gallery-item-bg-color;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    opacity: 0;
    transition: 1s all ease-out;
}

/*Hacemos aparecer el background negro*/
.gallery-item:hover::before{
    opacity: .7;
}

/*Accedemos al hover del contenedor de la imagen
y al tag img, para darle las propiedades de crecimiento*/
.gallery-item:hover > img{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}

/*Le agregamos una transicion a la imagen para que cuando le saquemos el hover de encima,
vuelva a su tamaño original con un delay*/
.gallery-item > img{
    transition: transform 1s ease-out;
}

.events-container{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: $primary-text-color;
}

.events-container .title{
    text-transform: uppercase;
    margin-bottom: 1em;
}

.events-container .cards{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.cards .cards-item{
    width: 100%;
    margin-top: .5em;
    height: 330px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    background-color: $card-item-bg-color;
}

.events-cards-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.cards-item .date-card{
    width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date-card strong{
    font-size: 3.5em;
}

.date-card p{
    text-transform: uppercase;
    position: relative;
    bottom: .8em;
}

.cards-item .event-info{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.event-info p{
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: .5em;
}

.launchs-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary-text-color;
    text-transform: uppercase;
    font-size: .65rem;
    text-align: center;
    margin-top: 2.5em;
}

.launchs-container h2{
    margin-top: 1em;
}

.launchs-container .starship-container{
    display: none;
}

.launchs-container .starship-container img{
    object-fit: cover;
    width: 100%;
    height: auto;
}

.counters{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counters .counter-item{
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2em;
}

.counter-item strong{
    font-size: 3rem;
}

.counter-item p{
    font-size: 1.7rem;
}

.footer-container{
    background-image: $background-footer-mobile;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-items{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: relative;
        z-index: 1;
        width: 100%;
        padding: 1em;
        gap: 10px;
    }
    .planet-container{
        img{
            width: 100%;
            max-width: 90px;
            height: auto;
            object-fit: cover;
        }
    }
    .suscribe-container{
        display: flex;
        flex-direction: row;
    }
    .social-media{
        display: flex;
        flex-direction: row;
        height: auto;
        gap: 10px;
        img{
            width: 40px;
            
        }
    }
}

/*Media queries*/
@media screen and (min-width: 516px){

    .gallery-item:first-child{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    
    .gallery-item:nth-child(2){
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 2;
    }
    
    .gallery-item:nth-child(4){
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .gallery-item:nth-child(3){
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .gallery{
        height: auto;
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        grid-auto-rows: minmax(100px, auto);
    }
    
}