@import "../sass/variables";
@import "../sass/buttons";
@import "../sass/header";
@import "../sass/spacehumans";
@import "../sass/missions";
@import "../sass/events";
@import "../sass/launch";
@import "../sass/footer";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-image: $background-image;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Space Mono', monospace;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100vh;
}

/*Media queries*/
@media screen and (min-width: 576px){}
@media screen and (min-width: 768px){}
@media screen and (min-width: 992px){}
@media screen and (min-width: 1024px){}
@media screen and (min-width: 1200px){}
@media screen and (min-width: 1400px){}